* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  max-width: 1920px;
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  background-color: #FAFAFA;
  font-size: 1.6rem;
  color: #252B42;
  font-family: Montserrat, sans-serif;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  width: 1050px;
  margin: 0 auto;
}

.block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header {
  background-color: gray;
  color: #FFFFFF;
  position: relative;
}

.header a {
  position: relative;
}

.header a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: #23A6F0;
  left: 0;
  bottom: -.5rem;
  opacity: 0;
}

.header a:hover::after {
  opacity: 1;
}

.header__navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1.6rem;
}

.header__brand-name {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
  margin-right: 7.5rem;
  cursor: default;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 3rem;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 8.75rem 3rem 8.75rem 0;
}

.header__right {
  padding: 0 3.35rem;
}

.header__title {
  font-size: 5.8rem;
  line-height: 8rem;
  font-weight: 800;
  cursor: default;
}

.header__intro-text {
  cursor: default;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  margin: 3.5rem 0;
}

.header__btns-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__start-btn {
  color: inherit;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.02rem;
  padding: 1.5rem 3.6rem;
  border-radius: 3.7rem;
  background: #23A6F0;
  margin-right: 1rem;
}

.header__start-btn:hover {
  background: black;
}

.header__learn-btn {
  color: inherit;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: bold;
  letter-spacing: 0.02rem;
  padding: 1.5rem 3.6rem;
  border-radius: 3.7rem;
  background: transparent;
  border: 1px solid #FFFFFF;
}

.header__learn-btn:hover {
  background: black;
}

.header__main-img {
  display: block;
  width: 44.3rem;
  height: 51.7rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar__menu > li:not(:first-child) {
  margin-left: 2.1rem;
}

.navbar__link {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
}

.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar__login {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.2rem;
  letter-spacing: 0.02rem;
  margin-right: 4.5rem;
}

.navbar__member-btn {
  color: inherit;
  border-radius: .5rem;
  line-height: 2.2rem;
  font-weight: bold;
  background-color: #23A6F0;
  padding: 1.5rem 5.2rem 1.5rem 2.5rem;
  position: relative;
}

.navbar__member-btn:hover {
  background: black;
}

.navbar__member-btn::after {
  content: "";
  width: 1.2rem;
  height: 1rem;
  background: url("../img/header/header-btn-arrow.svg");
  position: absolute;
  top: calc(50% - 1.2rem / 2);
  right: 2.5rem;
  z-index: 10;
  color: #FFFFFF;
}

.features {
  padding: 11.2rem 0 5.5rem;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.features__title-area {
  padding: 0 18.7rem;
}

.features__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.title-block__title {
  font-size: 4rem;
  line-height: 5.7rem;
  letter-spacing: 0.02rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.title-block__text {
  color: #737373;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.02rem;
  font-weight: 500;
}

.info-row {
  margin-top: 8rem;
}

.info-row__item {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 3rem 4rem;
}

.item-features__image {
  width: 4.8rem;
  height: 4rem;
}

.item-features__number {
  margin-top: 1rem;
  font-size: 4rem;
  line-height: 5.7rem;
  letter-spacing: 0.02rem;
  padding: 0 2.1rem;
}

.item-features__text {
  color: #737373;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  margin-top: 1rem;
  padding: 1.7rem;
}

.testimonials {
  padding: 11.2rem 0;
}

.testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.testimonials__reviews {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reviews-row__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 2.9rem / 2);
  flex: 0 0 calc(50% - 2.9rem / 2);
}

.item-review {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 4rem 3rem 4rem calc(17.7rem + 3rem);
}

.item-review__image {
  position: absolute;
  display: block;
  width: 17.7rem;
  height: 24.8rem;
  top: 0;
  left: 0;
}

.item-review__person-name {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
  font-weight: bold;
}

.item-review__person-speciality {
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
  color: #737373;
}

.item-review__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.item-review__stars img {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
}

.item-review__stars img:first-child {
  margin-left: 0;
}

.item-review__text {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.02rem;
  color: #737373;
}

.about {
  padding: 11.2rem 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about__title-area {
  margin-bottom: 9.6rem;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row-about {
  width: 100%;
}

.row-about__image-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 45.3rem);
  flex: 0 0 calc(100% - 45.3rem);
  position: relative;
}

.row-about__image {
  display: block;
  width: 100%;
  height: 100%;
}

.row-about__image-filter {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(56, 56, 56, 0.86)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(56, 56, 56, 0.86));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(56, 56, 56, 0.86));
  position: absolute;
  left: 0;
  top: 0;
}

.row-about__play-container {
  position: absolute;
  width: 9.26rem;
  height: 9.26rem;
  z-index: 100;
  top: calc(50% - 9.26rem / 2);
  left: calc(50% - 9.26rem / 2);
  background-color: #23A6F0;
  border-radius: 50%;
}

.row-about__image-btn {
  position: absolute;
  width: 1.9rem;
  height: 2.3rem;
  top: calc(50% - 2.3rem / 2);
  left: calc(50% - 1.9rem / 2);
}

.row-about__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% - 60rem);
  flex: 0 0 calc(100% - 60rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4.3rem 0 4.3rem 12rem;
}

.content-about__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
  padding: 2rem 2.3rem 1rem 0;
  font-weight: bold;
}

.content-about__title-text {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.02rem;
  color: #737373;
  font-weight: 500;
  padding-bottom: 2rem;
}

.content-about .card1 {
  background: url("../img/body/about_svg1.svg") 0 0 no-repeat;
  background-size: 3.2rem;
}

.content-about .card2 {
  background: url("../img/body/about_svg2.svg") 0 0 no-repeat;
  background-size: 3.2rem;
  margin-top: 3rem;
}

.content-about__card {
  padding-left: 5.2rem;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-info__title {
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  font-weight: bold;
}

.card-info__text {
  color: #737373;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
  font-weight: 600;
}

.pricing {
  padding: 11.2rem 0;
}

.pricing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pricing__title-area {
  margin-bottom: 8rem;
}

.pricing__costs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.costs-row {
  padding: 0 17.2rem;
}

.costs-row__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 3rem / 2);
  flex: 0 0 calc(50% - 3rem / 2);
}

.card-pricing {
  background-color: #FFFFFF;
  border-radius: 1rem;
  border: 1px solid #23A6F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5rem 0;
}

.card-pricing__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
  color: #252B42;
  margin-bottom: 3.5rem;
  font-weight: 700;
}

.card-pricing__title-text {
  line-height: 2.4rem;
  color: #737373;
  font-weight: bold;
  letter-spacing: 0.01rem;
  margin-bottom: 3.5rem;
}

.card-pricing__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-pricing__btn {
  display: block;
  width: calc(100% - 2.95rem * 2);
  margin-top: 3.5rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.02rem;
  padding: 1.5rem 9.85rem;
  background-color: #23A6F0;
  color: #FFFFFF;
  border-radius: .5rem;
}

.price-card__number {
  font-size: 4rem;
  line-height: 5.7rem;
  letter-spacing: 0.02rem;
  color: #23A6F0;
}

.price-card__sub-text {
  padding-left: 1rem;
  margin: auto 0;
}

.price-card__currency {
  text-align: start;
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  color: #23A6F0;
  font-weight: 700;
}

.price-card__period {
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
  color: #8EC2F2;
  font-weight: 600;
}

.advantages-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 3.5rem;
}

.advantages-card__item {
  padding: 1rem 0 1rem 4.2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
  color: #737373;
  font-weight: 600;
  text-align: start;
}

.advantages-card__item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.advantages-card .green-option {
  background: url("../img/body/pricing-img1.png") 0 50% no-repeat;
  background-size: 3rem;
}

.advantages-card .gray-option {
  background: url("../img/body/pricing-img2.png") 0 50% no-repeat;
  background-size: 3rem;
}

.contacts {
  position: relative;
  padding-top: 16rem;
  padding-bottom: 9.6rem;
}

.contacts__background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #FFFFFF;
  z-index: 2;
}

.contacts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 4rem auto;
}

.contacts__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 6.4rem;
}

.contacts__submit-btn {
  font-size: 1.4rem;
  padding: 1.5rem 4rem;
  background-color: #23A6F0;
  border-radius: .5rem;
  color: #FFFFFF;
  letter-spacing: 0.02rem;
  line-height: 2.2rem;
  max-width: 21.8rem;
  margin: 4rem auto;
}

.title-contacts__preview {
  line-height: 2.4rem;
  letter-spacing: 0.01rem;
  font-weight: bold;
}

.title-contacts__title {
  font-size: 4rem;
  line-height: 5.7rem;
  letter-spacing: 0.02rem;
  font-weight: bold;
}

.inputs-contacts #contacts-message {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  min-height: 14rem;
}

.inputs-contacts__input-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 2rem / 2);
  flex: 0 0 calc(50% - 2rem / 2);
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.02rem;
  color: #737373;
  padding: 1.1rem 2.1rem;
  background-color: #F9F9F9;
  border: 1px solid #E5E5E5;
}

.inputs-contacts__input-item:focus {
  border: 1px solid #000000;
}

.inputs-contacts__input-item:not(:last-child) {
  margin-bottom: 2rem;
}

.footer {
  background-color: #FFFFFF;
  padding: 8rem 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(25% - 9rem / 3);
  flex: 0 0 calc(25% - 9rem / 3);
}

.column-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column-footer__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.column-footer__link {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.02rem;
  color: #737373;
  font-weight: 500;
  margin-bottom: 1rem;
}

.column-footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-footer {
  margin-top: 1.5rem;
}

.social-footer #footer-facebook,
.social-footer #footer-instagram {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}

.social-footer #footer-twitter {
  display: block;
  width: 2.4rem;
  height: 2rem;
}

.social-footer #footer-facebook {
  background: url("../img/footer/facebook-svg.svg") 0 0 no-repeat;
}

.social-footer #footer-instagram {
  background: url("../img/footer/instagram-svg.svg") 0 0 no-repeat;
}

.social-footer #footer-twitter {
  background: url("../img/footer/twitter-svg.svg") 0 0 no-repeat;
}

.social-footer__link {
  margin-right: 2rem;
}

.social-footer__link:last-child {
  margin-right: 0;
}

.webp .advantages-card .green-option { background: url(../img/body/pricing-img1.webp) 0 50% no-repeat; }

.webp .advantages-card .gray-option { background: url(../img/body/pricing-img2.webp) 0 50% no-repeat; }
